* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Fundo com imagem e blur */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("fundo.webp");
    background-size: cover;
    background-position: center;
    filter: blur(6px);
    transform: scale(1.05);
    z-index: -1;
}

/* Centralização */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Caixa principal */
.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 15px;
    color: white;
    max-width: 900px;
}

/* Botão */
button {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ffcc00;
    color: #000;
}

button:hover {
    background-color: #ffdd33;
}

/* Resultado escondido */
#resultado {
    display: none;
    margin-top: 25px;
    font-size: 22px;
}

/* Galeria */
.fotos {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

/* Fotos */
.fotos img {
    width: 220px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}
